<!DOCTYPE HTML>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
  </head>
  <body>
    <strong>About us</strong>
    <h1>About us</h1>
    <img height="240" src="">
    <p></p>
    <h2></h2>
    <img src="http://www.maths.leeds.ac.uk/uploads/tx_templavoila/music.png">
    <!--this is the first paragraph <br>
    <p>second paragraph</b>
    <!-- this is a comment -->
    <br>
    Buildmymusic.com
    <marquee direction="left">check out the links</marquee>
    <a href="http://www.facebook.com"> Go to Facebook!</a>

  </body>
</html>
