<!DOCTYPE html>
<html>
  <header>
    <title>
      box practice
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="my_script.js"></script>
  </header>
  <body>
    <h1>
      A++
    </h1>
    <br>
    <form action = "/search" method = "post">
    <center><input type = "text" name = "search" style = "width: 300px; height: 30px"/>
    <input type="submit" value="search"></center>
    </form>
    <br>
    <br>
    <center><div class = "centerbox">
      search page
    </center></div>
    <div class = "leftbox">
      <div id = "homebox">
        <center><h4>Home</h4></center>
      </div>
      <div id = "likes">
        <center><h4>Likes</h4></center>
      </div>
      <div id = "events">
        <center><h4>Events</h4></center>
      </div>
    </div>
    <div class = "rightbox">
      <div id = "suggestions">
        <center><h3>Suggestions</h3></center>
      </div>
      <div id = "??">
        <center><h3>??</h3></center>
      </div>
    </div>
    {% for i in searches %}
    {{i.title}} , {{i.artist}} , {{i.album}}
    <br>
    <br>
    {% endfor %}

  </body>
</html>
