<!DOCTYPE html>
<html>
  <header>
    <title>
      default
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
  </header>
  <body>
    <h1>
      <center>A++</center>
    </h1>
    <br>
    <form action = "/search" method = "post">
      <div id = "searching">
      <center><input type = "text" name = "search" style = "width: 300px; height: 30px"/>
      <input type="submit" value="search"></center>
      </div>
    </form>
    <br>
    <br>
    <center><div class = "centerbox">
      {% for i in searches %}
      {{i.title}} , {{i.artist}} , {{i.album}}
      <br>
      <br>
      {% endfor %}
    </center></div>

    <div class = "buttons">
      <form action = "/profile" method = "get">
        <input type = "button" id = "profile" value = "Profile">
      </form>
      <form action = "/likes" method = "post">
        <input type = "button" id = "likes" value = "Likes">
      </form>
      <form action = "/events" method = "post">
        <input type = "button" id = "events" value = "Events">
      </form>
      <form action = "/aboutus" method = "get">
        <input type = "button" id = "aboutus" value = "About Us">
      </form>
    </div>

    <div class = "recentlikes">
      <center>Recently added likes:</center>
    </div>
    <div class = "recentevents">
      <center>Recently added events:</center>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="scripts/script1.js">
    </script>
  </body>
</html>
