<html>
<head>
<title>Build My music</title>
<link rel="stylesheet" type ="text/css" href="style.css">

</head>
<body><center>
<form id="myForm">

</form>
<strong>BUILD MY MUSIC</strong>
<h1>My Page</h1>
<img height="240" src="http://www.maths.leeds.ac.uk/uploads/tx_templavoila/music.png">

<p>Welcome Build my Music where you get the playlist that you want and the songs you want to hear</p>
<h2>Your information goes here</h2><h1></h1>
<img src="http://img3.wikia.nocookie.net/__cb20121227201208/jamesbond/images/6/61/Generic_Placeholder_-_Profile.jpg">

<!--this is the first paragraph <br>
<p>second paragraph</b>

<!-- this is a comment -->
<br>
Buildmymusic.com

<em><em>
</em>
<h2 id="test" > </h2>
  <marquee direction="left">check out the links</marquee>
<a href="http://www.facebook.com"> Go to Facebook!</a>


</img>

</center></body></html>
</html>
