<!DOCTYPE html>
<html>
  <header>
    <title>
      default
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="my_script.js"></script>
  </header>
  <body>
    <h1>
      A++
    </h1>
    <br>
    <form action = "/search" method = "post">
      <div id = "searching">
      <center><input type = "text" name = "search" style = "width: 300px; height: 30px"/>
      <input type="submit" value="search"></center>
      </div>
    </form>
    <br>
    <br>
    <center><div class = "centerbox">
      search page
    </center></div>

    <div class="leftbox">
      <figure id ="profile"><center><br>My Profile</center></figure>
      <figure id ="likes"><center><br>Likes</center></figure>
      <figure id ="events"><center><br>Events</center></figure>
      <figure id ="aboutus"><center><br>About Us</center></figure>
    </div>
    <div class = "recentlikes">
      <center>Recently added likes:</center>
    </div>
    <div class = "recentevents">
      <center>Recently added events:</center>
    </div>

  </body>
</html>
