<!DOCTYPE html>
<html>
  <header>
    <title>
      Welcome!
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/welcome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="my_script.js"></script>
  </header>
  <body>
    <h1>
      Welcome to ...
    </h1>
    <br>
    <center><img height="150" width="150" src = http://www.tagetik.com/intouch2015/user.png></img></center>
    <br>
    <form action = "/default" method = "post">
      <p>
        <h3>Please enter the following:</h3>
        <center>Email: <input type = "text" name = "email"/></center>
        <br>
        <center>Username: <input type = "text" name "username"/></center>
        <br>
        <center>Password: <input type = "text" name "password"/></center>
        <br>
        <center><input type="submit" value="Log in"></center>
      </p>
    </form>
  </body>
</html>
