h1 {font color: red;
}
body {font-family: 'Montserrat', sans-serif;
background-size: cover;
    background-image: url("http://www.vicradio.org/img/musicreviews.jpg");
    background-color: #cccccc;
    color: white;
}

}
  color: red;
  background-color: #40e0d0;
}
