body {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2a/Chicago_-_Night.jpg");
  
  background-color: #cccccc;
  color: Pink;
}
body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
h1 {
  color: white;
  /*background-color: #F0FFFF;*/
}

h2 {
  color: orange;
  /*background-color: #F0FFFF;*/
  top: 50px;
}



p {
  color: green;
  /*background-color: #F0FFFF;*/
}
/* id */
#test {
  color: blue;
  background-color: yellow;

}

p{
  width: 400px;
  height: 200px;
}

div {
    position: absolute;
    left: 0px;
    top: 400px;
    color: blue;
}
/*image2 {
    position: absolute;*/

}
#image1 {
    position: absolute;
    left: 0px;
    top: 40px;
}
input[type=file] { width: 1px; }
