body {
  background-image: url('http://www.pptbackgrounds.net/uploads/audio-sound-wave-blue-powerpoint-backgrounds.jpg');
  background-size: cover;
  background-color: gray;
}


h1 {
  text-align: left;
  clear: left;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-size: 72px;
}

#header {
  float: left;
  clear: left;
}


.myButton {
  float: right;
	background-color:black;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:6px solid #white;
	display:inline-block;
	cursor:pointer;
	color:blue;
	font-family:Trebuchet MS;
	font-size:50px;
	font-weight:bold;
	padding:31px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background-color:gray;
}
.myButton:active {
	position:relative;
	top:1px;
}
